docs/Merchants-4.1.XSD/OrderReport.xsd

<?xml version="1.0"?>
<!-- "$Revision: #10 $" -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<!--
    $Date: 2007/09/06 $

    AMAZON.COM CONFIDENTIAL.  This document and the information contained in it are
    confidential and proprietary information of Amazon.com and may not be reproduced,
    distributed or used, in whole or in part, for any purpose other than as necessary
    to list products for sale on the www.amazon.com web site pursuant to an agreement
    with Amazon.com.
    -->
	<xsd:include schemaLocation="amzn-base.xsd"/>
	<xsd:element name="OrderReport">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="AmazonOrderID"/>
				<xsd:element name="AmazonSessionID">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:pattern value="\w{3}-\w{7}-\w{7}"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="OrderDate" type="xsd:dateTime"/>
				<xsd:element name="OrderPostedDate" type="xsd:dateTime"/>
				<xsd:element name="MarketplaceName" type="MediumStringNotNull" minOccurs="0"/>
				<xsd:element name="TransactionDate" type="xsd:dateTime" minOccurs="0"/>
				<xsd:element name="TaxCalculationDate" type="xsd:dateTime" minOccurs="0"/>
				<xsd:element name="CustomerOrderInfo" minOccurs="0" maxOccurs="10">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Type" type="StringNotNull"/>
							<xsd:element name="Value" type="StringNotNull"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="BillingData">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="BuyerEmailAddress">
								<xsd:simpleType>
									<xsd:restriction base="xsd:normalizedString">
										<xsd:pattern value="[^@]+@[^@\.]+(\.[^@\.]+)+"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="BuyerName" type="String"/>
							<xsd:element name="BuyerPhoneNumber" type="String" minOccurs="0"/>
							<xsd:element name="CreditCard" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Issuer">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:enumeration value="Visa"/>
													<xsd:enumeration value="MasterCard"/>
													<xsd:enumeration value="AmericanExpress"/>
													<xsd:enumeration value="Discover"/>
													<xsd:enumeration value="DinersClub"/>
													<xsd:enumeration value="JCB"/>
													<xsd:enumeration value="PrivateLabel"/>
													<xsd:enumeration value="BankDebit"/>
													<xsd:enumeration value="CarteBlanche"/>
													<xsd:enumeration value="CarteBancaire"/>
													<xsd:enumeration value="PaymentByInvoice"/>
													<xsd:enumeration value="Laser"/>
													<xsd:enumeration value="Switch"/>
													<xsd:enumeration value="SVS"/>
													<xsd:enumeration value="BordersECG"/>
													<xsd:enumeration value="Other"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="Tail">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:pattern value="\d{4}"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="ExpirationDate" type="xsd:gYearMonth"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element ref="Address" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="FulfillmentData">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="FulfillmentMethod"/>
							<xsd:element ref="FulfillmentServiceLevel" minOccurs="0"/>
							<xsd:element ref="FulfillmentCenterID" minOccurs="0"/>
							<xsd:element ref="Address" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="OtherAddresses" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Address" type="TaxAddressType" maxOccurs="5"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Item" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="AmazonOrderItemCode"/>
							<xsd:element ref="SKU"/>
							<xsd:element name="Title" type="LongString"/>
							<xsd:element name="CustomizationInfo" type="CustomizationInfoType" minOccurs="0" maxOccurs="unbounded"/>
							<xsd:element name="Quantity" type="xsd:positiveInteger"/>
							<xsd:element ref="ProductTaxCode" minOccurs="0"/>
							<xsd:element name="DeliveryStartDate" type="xsd:dateTime" minOccurs="0"/>
							<xsd:element name="DeliveryEndDate" type="xsd:dateTime" minOccurs="0"/>
							<xsd:element name="DeliveryTimeZone" type="StringNotNull" minOccurs="0"/>
							<xsd:element name="DeliveryInstructions" type="LongStringNotNull" minOccurs="0"/>
							<xsd:element name="ItemPrice" type="BuyerPrice"/>
							<xsd:element name="ItemFees" type="AmazonFees"/>
							<xsd:element name="ItemTaxData" type="TaxData" minOccurs="0"/>
							<xsd:element name="ShippingTaxData" type="TaxData" minOccurs="0"/>
							<xsd:element name="GiftWrapTaxData" type="TaxData" minOccurs="0"/>
							<xsd:element name="Promotion" minOccurs="0" maxOccurs="unbounded" type="TaxablePromotionType"/>
							<xsd:element name="GiftWrapLevel" type="StringNotNull" minOccurs="0"/>
							<xsd:element name="GiftMessageText" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="500"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="InvoiceData" type="InvoiceDataType" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!--
    ##################################################
    # Tax data type
    ##################################################
    -->
	<xsd:complexType name="TaxData">
		<xsd:sequence>
			<xsd:element ref="ProductTaxCode" minOccurs="0"/>
			<xsd:element name="FinancialAmounts" type="FinancialAmountsType" minOccurs="0"/>
			<xsd:element name="TaxJurisdictions" type="TaxJurisdictionType"/>
			<xsd:element name="TaxableAmounts" type="TaxDataSubtype" minOccurs="0"/>
			<xsd:element name="NonTaxableAmounts" type="TaxDataSubtype" minOccurs="0"/>
			<xsd:element name="ZeroRatedAmounts" type="TaxDataSubtype" minOccurs="0"/>
			<xsd:element name="TaxCollectedAmounts" type="TaxDataSubtype"/>
			<xsd:element name="TaxRates">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="District" type="TaxRate" minOccurs="0"/>
						<xsd:element name="City" type="TaxRate" minOccurs="0"/>
						<xsd:element name="County" type="TaxRate" minOccurs="0"/>
						<xsd:element name="State" type="TaxRate" minOccurs="0"/>
						<xsd:element name="Country" type="TaxRate" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--
    ##################################################
    # Tax jurisdiction type
    ##################################################
     -->
	<xsd:complexType name="TaxJurisdictionType">
		<xsd:sequence>
			<xsd:element name="TaxLocationCode" type="String" minOccurs="0"/>
			<xsd:element name="City" type="String" minOccurs="0"/>
			<xsd:element name="County" type="String" minOccurs="0"/>
			<xsd:element name="State" type="String" minOccurs="0"/>
			<xsd:element name="Country" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="2"/>
						<xsd:maxLength value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--
    ##################################################
    # Tax address type
    ##################################################
    -->
	<xsd:complexType name="TaxAddressType">
		<xsd:sequence>
			<xsd:element name="AddressRole">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="ShipFrom"/>
						<xsd:enumeration value="BillTo"/>
						<xsd:enumeration value="SellerPrimary"/>
						<xsd:enumeration value="BuyerPrimary"/>
						<xsd:enumeration value="Middleman"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="City" type="String"/>
			<xsd:element name="County" type="String" minOccurs="0"/>
			<xsd:element name="StateOrRegion" type="String" minOccurs="0"/>
			<xsd:element name="PostalCode" type="String" minOccurs="0"/>
			<xsd:element name="PostalCodeExtension" type="String" minOccurs="0"/>
			<xsd:element name="CountryCode">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="2"/>
						<xsd:maxLength value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--
    ##################################################
    # Tax data sub type
    ##################################################
    -->
	<xsd:complexType name="TaxDataSubtype">
		<xsd:sequence>
			<xsd:element name="District" type="CurrencyAmount" minOccurs="0"/>
			<xsd:element name="DistrictDetails" type="TaxDetailsType" minOccurs="0"/>
			<xsd:element name="City" type="CurrencyAmount" minOccurs="0"/>
			<xsd:element name="CityDetails" type="TaxDetailsType" minOccurs="0"/>
			<xsd:element name="County" type="CurrencyAmount" minOccurs="0"/>
			<xsd:element name="CountyDetails" type="TaxDetailsType" minOccurs="0"/>
			<xsd:element name="State" type="CurrencyAmount" minOccurs="0"/>
			<xsd:element name="StateDetails" type="TaxDetailsType" minOccurs="0"/>
			<xsd:element name="Country" type="CurrencyAmount" minOccurs="0"/>
			<xsd:element name="CountryDetails" type="TaxDetailsType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--
    ##################################################
    # Tax details type
    ##################################################
    -->
	<xsd:complexType name="TaxDetailsType">
		<xsd:sequence>
			<xsd:element name="ReportName" type="StringNotNull"/>
			<xsd:element name="AuthorityType" type="StringNotNull"/>
			<xsd:element name="AuthorityName" type="StringNotNull"/>
			<xsd:element name="TaxableBasis" type="CurrencyAmount"/>
			<xsd:element name="NonTaxableBasis" type="CurrencyAmount"/>
			<xsd:element name="TaxDirection" type="StringNotNull"/>
			<xsd:element name="ExemptReasonCode" type="StringNotNull" minOccurs="0"/>
			<xsd:element name="BuyerExemptionCertificate" type="StringNotNull" minOccurs="0"/>
			<xsd:element name="SellerRegistration" type="StringNotNull" minOccurs="0"/>
			<xsd:element name="BuyerRegistration" type="StringNotNull" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--
    ##################################################
    # Tax rate type
    ##################################################
    -->
	<xsd:simpleType name="TaxRate">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="5"/>
			<xsd:fractionDigits value="4" fixed="true"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
    ##################################################
    # Financial Amounts Type
    ##################################################
    -->
	<xsd:complexType name="FinancialAmountsType">
		<xsd:sequence>
			<xsd:element name="DisplayPrice" type="FinancialAmountType"/>
			<xsd:element name="TaxAdjustedSellingPrice" type="CurrencyAmount"/>
			<xsd:element name="ExtendedAmount" type="FinancialAmountType"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--
    ##################################################
    # Financial Amount Type
    ##################################################
    -->
	<xsd:complexType name="FinancialAmountType">
		<xsd:sequence>
			<xsd:element name="Amount" type="CurrencyAmount"/>
			<xsd:element name="IsTaxInclusive" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--
    ##################################################
    # Taxable Promotion Type
    ##################################################
    -->
	<xsd:complexType name="TaxablePromotionType">
		<xsd:sequence>
			<xsd:element ref="PromotionClaimCode"/>
			<xsd:element ref="MerchantPromotionID"/>
			<xsd:element name="Component" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Type" type="PromotionApplicationType"/>
						<xsd:element name="Amount" type="CurrencyAmount"/>
						<xsd:element name="TaxData" type="TaxData" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<!--
    ##################################################
    # Invoice Data Type
    ##################################################
	-->

	<xsd:complexType name="InvoiceDataType">
		<xsd:sequence>
			<xsd:element name="InvoiceRequirement">
				<xsd:simpleType>
					<xsd:restriction base="StringNotNull">
						<xsd:enumeration value="None"/>
	  					<xsd:enumeration value="Consolidated"/>
  						<xsd:enumeration value="Individual"/>
						<xsd:enumeration value="NotNeeded"/>
  					</xsd:restriction>
		       		</xsd:simpleType>
  			</xsd:element>
  			<xsd:element name="BuyerSelectedInvoiceCategory" type="LongString" minOccurs="0"/>
  			<xsd:element name="InvoiceTitle" type="HundredString" minOccurs="0"/>
  			<xsd:element name="InvoiceInformation" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="StringNotNull">
						<xsd:enumeration value="BuyerSelectedCategory"/>
						<xsd:enumeration value="ProductTitle"/>
						<xsd:enumeration value="NotApplicable"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
  		</xsd:sequence>
  	</xsd:complexType>

</xsd:schema>
